{% extends "base.twig" %}

{% block content %}

  <h1>{{ post.title }}</h1>

  {{ post.content }}

  <h2>Other Staff</h2>

  <p>
    {%- for staff in staff_list -%}
      {% if loop.last %}and {% endif %}
      <a href="{{ staff.link }}">{{ staff.title }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}
  </p>

{% endblock %}
